
{% extends "base.html" %}

{% block content %}

{% if message %}
    <p>{{ message }}</p>
{% endif  %}

<div style='margin-top:30px;'>
    <form  action='{{ object.get_edit_url }}' method="POST">
    <!-- <form  action='.' method="POST"> aqui vale el punto solo xq se llama igual?-->
        {% csrf_token %}        
        {{ form.as_p }}
        <button style='margin-top:10px;' type="submit">Save</button>
        {% if form_2 %}
            <h3>Ingredients</h3>
            {{ form_2.as_p }}
        {% endif %}

    </form>
</div>

{% endblock content %}